/* 博客列表相关的样式 */

.blog {
    width: 100%;
    /* 高度不设置 让其取决于里面的内容高度综合 */
    padding: 20px;
}

.blog .title {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 0;
}

.blog .date {
    text-align: center;
    color: rgb(0, 128, 0);
    padding: 10px 0;
}

.blog .desc {
    text-indent: 2em; /* 缩进 */
}

.blog a {
    /* 设置成块级元素，方便设置尺寸和边距 */
    display: block;
    width: 140px;
    height: 40px;
    
    margin: 10px auto; /* 内边距 上方10px 水平居中 */
    
    border: 2px black solid; /* 边框 */
    
    color: black;
    line-height: 40px;
    text-align: center;
    text-decoration: none;

    /* 让悬停的变化过程柔和一些，加上过渡效果 */
    transition: all 0.3s;
}

/* 伪类选择器 鼠标悬停 */
.blog a:hover {
    background-color: #333;
    color: white;
}
